@model RZA.Models.Word

@{
    ViewData["Title"] = "Delete";
}

<h1>D E L E T E</h1>

<h3>¿Estás seguro de eliminar esta palabra?</h3>
<div>
    <h4>Word</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.secret)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="E L I M I N A R" class="btn btn-danger" /> |
        <a asp-action="Index">V O L V E R</a>
    </form>
</div>
